body {
    font-family: "Helvetica Neue", Arial, sans-serif;
    color: #333;
    font-weight: 400;
    /* display: flex; */
}

.navigationBar {
padding: 5px;
text-align: center;
}

.navigationBar a {
    font-weight: bold;
    color: #2c3e50;
}

.searchBar {
    background-color: rgb(255, 255, 255);
    width: 280px;
    height: 850px;
    margin: 10px 10px;
    float: left;
    font-size: 15px;
    padding: 10px 20px 5px 5px;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}