<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Polylets viewer</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="styles-whiteTheme.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>


<body>
        <!-- div containing the main document -->
        <div class="main">
            <div class="navigationBar" style="user-select: none;">
                <a>Viewer</a>
                <a onclick="send()" href="../editor/">Editor</a>
                <a onclick="send()" href="../reader">Reader</a>
                <a onclick="send()" href="../table">Table</a>
                <a onclick="send()" href="../canvas">Canvas</a>
                <a onclick="send()" href="../searcher">Searcher</a>
            </div>

            <div id="app">
                <!-- basic buttons for switching documents -->
                <div>
                    <files-switcher ref="files" @current-file="setFile" style="user-select: none;"></files-switcher>
                </div>
                <div class="big-container">
                    <div id="content" class="document" @mouseover="setDisable"></div>
                    <div id="container" class="annotationBar" style="user-select: none;">
                        <button id="createPassage" class="button" @click="addAnnotation()">Pass-It</button>
                        <template v-if="this.notes.length > 0">
                            <button class="button" @click="sendToServer">SAVE</button>
                        </template>
                        <span class="saved" :disable="true"> {{ savedProperty }} </span>
                    
                        <!-- here goes the template -->
                        <annotation-list v-for="note in notes" :note="note" :current="currentFile" @update="editNote" @selection="reselect"
                            @del="deletePassage" @drag="dragPassage">
                        </annotation-list>
                    </div>
                </div>
            </div>
        </div>

    <script src="./prototype.js"></script>
    <script src="components/annotation-list.js"></script>
    <script src="components/files-switcher.js"></script>
    
    <script src="script.js">
    </script>

</body>

</html>