<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>prototype</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="styles-whiteTheme.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

</head>


<body>
    <div id="app">
        <!-- basic buttons for switching documents -->
        <h1>Document Viewer</h1>
        <files-switcher class="button-bar" @current-file="setFile"></files-switcher>
        <br>
        <!-- div containing the main document -->
        <div id="content" class="document" @mouseover="setDisable"></div>
        <div class="annotationBar">
            <button class="button" :disabled="isDisabled" @click="addAnnotation">NOTE</button>
            <template v-if="this.notes.length > 0">
                <button class="button" :disabled="no" @click="sendToServer">SAVE</button>
            </template>
            <span class = "saved" :disable="true"> {{ savedProperty }} </span>

            <!-- here goes the template -->
            <annotation-display v-for="note in notes" :note="note" :current="currentFile" @update="editNote"></annotation-display>
        </div>
    </div>

    <script src="./prototype.js"></script>
    <script src="components/annotation-list.js"></script>
    <script src="components/buttons.js"></script>

    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>

</html>