body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  font-weight: 400;
  /* display: flex; */
  margin: 0 auto;
  overflow-x: auto;
}

.navigationBar {
  padding: 5px;
  text-align: center;
}

.navigationBar a {
  font-weight: bold;
  color: #2c3e50;
}

button {
  cursor: pointer;
}

.document {
  width: 75%;
  height: 500px;
  margin: 40px 0px;
  border: 1px solid #d8d8d8;
  overflow-x: scroll;
  overflow-y: auto; /* this makes the div scrollable  */
  padding: 20px;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  position: relative;
}

.annotation {
  margin: 80px 0px;
  background-color: #f8f8f8;
  color: #333;
  width: 15%;
  height: 530px;
  float: left;
  font-size: 15px;
  padding: 10px 20px 5px 5px;
  border-radius: 10px;
  border-radius: 6px;
  overflow-y: scroll;
}

.annot-note {
  width: 80%;
  font-style: italic;
}

.annot-pass {
  width: 80%;
  height: 100%;
  font-size: 17x;
}

.element {
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 10px;
  /* background-color: #f8f8f8; */
  width: 80%;
  height: 260px;
  border: 1px solid #d8d8d8;
  border-radius: 7px;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 3px;
  background-color: white;
}

.little-element {
  text-align: justify;
  text-overflow: ellipsis;
  padding: 5px 20px;
  border: 1px solid #d8d8d8;
  cursor: move;
  border-radius: 12px;
  width: 40%;
  height: 40px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  overflow-y: auto;
}

.hightlighted-element {
  text-align: justify;
  margin: 20px 5px 5px 10px;
  padding: 5px 20px;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  width: 90%;
  height: 180px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  display: inline-block;

  background-color: #a7e4fc;

  transition: transform 250ms;
  transition-timing-function: ease-out;
  transform: scale(1.1, 1.2);
}

.draghandle-button {
  background-color: #d8d8d8;
  float: right;
  width: 18px;
  height: 16px;
  margin: 0 5px;
  border: 0px;
  /* border-radius: 50%; */
  /* border: 1px solid #999999; */
}

.hide-button {
  border: 0px;
  padding: 3px;
  background-color: white;
}

.button {
  /* border-radius: 15px;
  background-color: #e80505;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 20px 20px;
  cursor: pointer; */

  background-color: rgb();
  /* color: #ffffff; */
  padding: 5px 10px;
  margin: 5px 5px 10px 5px;
  cursor: pointer;
  border-radius: 15px;
  border: 1px solid #999999;
}

.button:hover {
  /* background-color: #ffffff;
  box-shadow: 0px 15px 20px rgba(219, 26, 12, 0.4);
  color: #e80505; */

  background-color: rgb(88, 88, 88);
  color: #ffffff;
  padding: 5px 10px;
  border: 1px solid #999999;
}

.button:disabled {
  /* cursor: not-allowed;
  background-color: #887474;
  box-shadow: 0px 0px 0px rgba(219, 26, 12, 0.4);
  color: #887474;
  transform: translateY(0px); */

  cursor: not-allowed;
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #8f8f8f;
}

.quote {
  font-family: "Helvetica Neue", Arial, sans-serif;
  padding: 5px;
  margin: 10px;
  height: 110px;
  border-radius: 8px;
  overflow-y: auto; /* this makes the div scrollable  */
  border: 1px solid grey;
}

.edit-area {
  display: flex;
  margin: 10px;
  height: 60px;
  border: 1px solid grey;
  padding: 0 5px 0 5px;
  overflow-y: auto;
  /* this makes the div scrollable  */
}

.draghandle {
  width: 100%;
  height: 18px;
  background-color: #d8d8d8;
  cursor: grab;
}

.button-bar {
  border: 1px solid #0066cc;
  background-color: #0099cc;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 5px 10px 5px;
  cursor: pointer;
  border-radius: 15px;
  font-size: 16px;
}

.table-line {
  float: left;
  min-width: 100%;
  min-height: 30%;
  margin-left: 4%;
  margin-top: 1%;
}

.new-column {
  position: relative;
  background-color: yellowgreen;
  color: white;
  border: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  top: 0.5%;
  left: 7%;
  border-radius: 10px;
  text-align: center;
}

.new-row {
  position: relative;
  background-color: yellowgreen;
  color: white;
  border: white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
  top: 6%;
  left: -3%;
  border-radius: 10px;
  text-align: center;
  transform: rotate(90deg);
}

.tbl {
  empty-cells: show;
}

th {
  background: rgb(194, 186, 186);
  height: 50px;
  min-width: 100px;
  border: 3px solid #000000;
  padding: 0px 0px 0px 0px;
  border-radius: 2px;
  text-align: center;
}

td {
  background: #fff;
  max-width: 300px;
  height: 100px;
  border: 3px solid #000000;
  padding: 0px 0px 0px 0px;
  border-radius: 4px;
  vertical-align: top;
}

table td.highlighted {
  background-color: #e8e8e8;
}

textarea {
  width: 97%;
  max-height: 70%;
  max-width: 300px;
  background-color: white;
  border: 1px solid rgb(88, 88, 88);
}

.del-col {
  border-radius: 10px;
  color: white;
  background-color: red;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}

.del-row {
  border-radius: 10px;
  color: white;
  background-color: red;
  border: 1px solid white;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
}
